<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><img src="_content/ASLCommonGUI/img/br-logo-blue-horiz.png"
            alt="Briefing Room Logo" </a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">  
        </li>
        <li class="nav-item px-3">  
        </li>
        <li class="nav-item px-3">
        </li>
        <li class="nav-item px-3">
        </li>
    </ul>
</div>
<div class="bottom-logo">
    <img src="_content/ASLCommonGUI/img/br-logo-white.png" alt="Briefing Room Logo" />
    <span class="ver">@Lib.ASLCore.VERSION (@Lib.ASLCore.BUILD_VERSION) by <strong>John Harvey
      (@@john681611)</strong></span>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
